@page "/logs"

@using EasyLogRepository.Data
@using EasyLogRepository.Models
@inject LogService logService

@if (logs == null)
{
    <p><em>正在查询...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>时间</th>
                <th>会话ID</th>
                <th>类型</th>
                <th>消息</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in logs)
            {
                <tr>
                    <td>@log.CreateTime</td>
                    <td>@log.SessionId</td>
                    <td>@log.LogType</td>
                    <td>@log.Message</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<LogVO> logs;

    protected override async Task OnInitializedAsync()
    {
        logs = await logService.GetLogsAsync();
    }
}