@page "/publish"
@using EasyLogRepository.Data
@inject PublishAppService _publishAppService

<h3>Publish app</h3>
<p>
    <label>
        Key:
        <input type="text" @bind="_key" />
    </label>
</p>
<p>
    <label>
        Version code:
        <input type="number" @bind="_versionCode" />
    </label>
</p>
<p>
    <label>
        Version name:
        <input type="text" @bind="_versionName" />
    </label>
</p>
<p>
    <label>
        <InputFile OnChange="@LoadFiles" multiple />
    </label>
</p>

<p>@_message</p>

@code {
    private const int MaxAllowedFiles = 1;
    private string _message;
    private string _key;
    private int _versionCode;
    private string _versionName;
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        _message = "正在上传";
        IBrowserFile file = e.GetMultipleFiles(MaxAllowedFiles)[0];
        var result = await _publishAppService.UploadFile(file, _key, _versionCode, _versionName);
        _message = result.Message;

    }
}